<div class="row">
	<div class="large-12 columns">
	
		<h3>All Poll Results</h3>
		
		{{#if pollResponses}}
		
			<table>
				<thead>
					<tr>
						<th>Time</th>
						<th>Response</th>
					</tr>
				<thead>
				<tbody>
					{{#each pollResponses}}
						<tr>
							<td>
								{{formatDateTime date}}
							</td>
							<td>
								{{#if florida}}
									Florida
								{{/if}}
								
								{{#if iowa}}
									Iowa
								{{/if}}
								
								{{#if notGoing}}
									Not Going
								{{/if}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		
		{{else}}
		
			<p>There are no poll responses yet.</p>
		
		{{/if}}
	
	</div>
</div>


{{#extend "scripts"}}

{{/extend}}