<div id="iowa-content">

	<div class="banner">
		<div class="row">
			<div class="large-12 columns">
				<h2>
					SHEA'S BACHELOR PARTY
				</h2>
			</div>
		</div>
	</div>

	<div class="date-row row">
		<div class="large-12 columns">
			<h3>APRIL 19TH, 2014 <i class="fa fa-circle"></i> DES MOINES, IA</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>Party Bus!</h3>
			<p>
				Do you like beer and not driving? Join us on Saturday for
				fun out and about the Des Moines area in a party bus. The bus
				leaves my best man Nick's house at 6pm. Detailed schedule to the right.
				If you can't come for the whole night, feel free to meet up
				with us at one of the stops.
			</p>
			<p>
				Nick's address:<br/>
				807 NW Ridge Rd, Ankeny IA, 50023
			</p>
			<p>
				A suggested donation of $25 covers transportation and some drinks/snacks
				on the bus. Nick has offered to let people crash at his house, but it's 
				bare concrete so you'll want an air mattress.
			</p>
		</div>	
		<div class="large-6 columns">
			<h3>Schedule</h3>
			<ul>
				<li>
					2:00PM Scotch, cigars, &amp; grilling at Nick's. BYOM
				</li>
				
				<li>
					6:00PM bus leaves Nick's house
				</li>

				<li>
					Drive long way around Ankeny to Grubb's Pub<br/>
					Arrive at Grubb's Pub 6:20PM<br/>
					leave Grubb's Pub 7:15PM
				</li>

				<li>
					7:45PM Drive to Cumming Tap<br/>
					8:15PM Arrive at Cumming Tap<br/>
					Leave Cumming Tap at 9:15PM
				</li>

				<li>
					Drive Downtown<br/>
					Arrive Downtown 9:45PM<br/>
					<strong>IF YOU WANT ON DOWNTOWN, THIS IS YOUR STOP</strong><br/>
					Leave downtown 11:45
				</li>

				<li>
					Drive to West Glen<br/>
					Arrive West Glen 12:15AM<br/>
					leave West Glen 1:00AM<br/>
					<strong>IF YOU WANT OFF IN WDM, THIS IS YOUR STOP</strong>
				</li>

				<li>
					Drive to Lumberyard 1:15AM<br/>
					arrive at lumberyard 1:45AM<br/>
					Leave Lumberyard at 2:45AM
				</li>

				<li>
					Arrive at Nick's house 3am
				</li>
			</ul>		
		</div>
	</div>
	
	<br/>
	<br/>
	
</div>

{{#extend "scripts"}}

{{/extend}}