<div id="florida-content">

	<div class="banner">
		<div class="row">
			<div class="large-12 columns">
				<h2>
					FLORIDA WEDDING
				</h2>
			</div>
		</div>
	</div>

	<div class="date-row row">
		<div class="large-12 columns">
			<img src="images/florida-fire.jpg" alt="Fire Dancer on the Beach" />
			<h3>APRIL 26<sup>TH</sup>, 2014 <i class="fa fa-circle"></i> BRADENTON BEACH, FL</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>Beach Ceremony Information</h3>
			<p>
				<strong>5:00 pm at the Gulf Drive Cafe &amp; Tiki Hut</strong>
			</p>
			<p>
				900 Gulf Drive North<br/>
				Bradenton Beach, FL 34217
			</p>
			<p>
				<a href="https://goo.gl/maps/B0vhk">Get Directions</a>
			</p>	
		</div>
		<div class="large-6 columns">
			<h3>Dinner, Drinks &amp; Luau Show</h3>
			<p>
				After the wedding ceremony we will be having a reception at the same location
				until 10:30 pm.
			</p>
			<p>
				<em>On the menu:</em> Prime Rib &amp; Caribbean Mojo Chicken served with
				salad, mashed potatoes, fresh vegetables, rolls, and wedding cake.
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>Hotels &amp; Accommodation</h3>
			<p>
				Bradenton Beach is located on Anna Maria Island on the gulf coast of Florida
				and has mostly independently owned hotels. If you want to stay on the island,
				we recommend any of the 
				<a href="http://www.annamariaislandresorts.net/">Anna Maria Island Resorts</a>
				hotels. Group code <strong>LS0426</strong> will save you 10%.
			</p>
			<p>
				If you want to stay at a major hotel like 
				<a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/bradenton/srqsw/hoteldetail">Holiday Inn</a>
				or get a better deal, you may want to stay on the mainland in Bradenton
				(about a 10-15 minute drive away).
			</p>
		</div>
		<div class="large-6 columns">
			<h3>Flights</h3>
			<p>
				We usually fly Allegiant Air since they are inexpensive and have direct
				flights into the Tampa area (about an hour away from Bradenton). Major
				airlines should fly directly into Sarasota-Bradenton International Airport
				as well as Tampa.
			</p>
			<ul>
				<li>
					<a href="http://www.allegiantair.com">Allegiant Airlines</a>
				</li>
				<li>
					<a href="http://www.southwest.com">Southwest Airlines</a>
				</li>
				<li>
					<a href="http://www.kayak.com">Kayak.com</a>
				</li>						
			</ul>
		</div>	
	</div>

	<br/>
	<br/>

</div>


{{#extend "scripts"}}

{{/extend}}