<div id="florida-content">

	<div class="banner">
		<div class="row">
			<div class="large-12 columns">
				<h2>
					FLORIDA WEDDING
				</h2>
			</div>
		</div>
	</div>

	<div class="date-row row">
		<div class="large-12 columns">
			<img src="images/florida-fire.jpg" alt="Fire Dancer on the Beach" />
			<h3>APRIL 26<sup>TH</sup>, 2014 <i class="fa fa-circle"></i> BRADENTON BEACH, FL</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>Where</h3>
			<p>
				<strong>Gulf Drive Cafe &amp; Tiki Hut</strong>
			</p>
			<p>
				900 Gulf Drive<br/>
				Bradenton Beach, FL 34217
			</p>
			<p>
				<a href="#">Get Directions</a>
			</p>	
		</div>
		<div class="large-6 columns">
			<h3>When</h3>
			<p>
				<strong>5:00pm on the Beach</strong>
			</p>
			<p>
				Reception and luau to follow.
			</p>
		</div>	
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>Hotels</h3>
			<p>
				We'll post information about hotels as soon as we have more information available.
			</p>
		</div>
		<div class="large-6 columns">
			<h3>Travel</h3>
			<p>
				We usually fly Allegiant Air since they tend to be the most inexpensive and
				they have direct flights to Tampa. You might also want to try a few other
				airlines if you are not lucky enough to be able to drive.
			</p>
			<ul>
				<li>
					<a href="http://www.allegiantair.com">Allegiant Airlines</a>
				</li>
				<li>
					<a href="http://www.southwest.com">Southwest Airlines</a>
				</li>
				<li>
					<a href="http://www.kayak.com">Kayak.com</a>
				</li>						
			</ul>
		</div>	
	</div>

	<br/>
	<br/>

</div>


{{#extend "scripts"}}

{{/extend}}