<div id="home-banner">
	<div class="row">
		<div class="large-12 columns">
			<img src="images/home-banner.jpg" alt="Save the Date" />
		</div>
	</div>
</div>
<div id="home-date">
	<div class="row">
		<div class="large-12 columns">
			<h2>
				APRIL 26<sup>TH</sup>, 2014 <i class="fa fa-circle"></i> BRADENTON BEACH, FL
			</h2>
		</div>
	</div>
</div>

<div id="home-info-boxes">
	<div class="row">
		<div class="large-4 columns">
	
			<span class="fa-stack fa-3x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-heart fa-stack-1x fa-inverse"></i>
			</span>	
	
			<h3>Finally!</h3>
		
			<p>
				Yup, we're finally getting married after 8 years together. After thinking 
				about it for a quite a while, we decided on a beach wedding. We will be 
				getting married on April 26th, 2014 in Bradenton Beach, Florida.
			</p>
		
			<p>
				<a href="/florida">Click here for more about Florida...</a>
			</p>
		
		</div>
		<div class="large-4 columns">
	
			<span class="fa-stack fa-3x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-question fa-stack-1x fa-inverse"></i>
			</span>	
	
			<h3>Can't Make It to the Beach?</h3>
		
			<p>
				Don't worry about it! We know a destination wedding is a lot to ask of 
				everyone. We're planning on having an informal reception back in Iowa for 
				anyone that couldn't make it.
			</p>
		
			<p>
				<a href="/iowa">Click here for more about Iowa...</a>
			</p>	
	
		</div>
		<div class="large-4 columns">
	
			<span class="fa-stack fa-3x">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-info fa-stack-1x fa-inverse"></i>
			</span>	
	
			<h3>Take the Poll</h3>
		
			{{#if pollDone}}
				<div data-alert class="alert-box radius">
					Thanks for taking the poll!
				</div>
			{{else}}
				<p>
					Please take a minute and help us get a handle on who will be able to come. 
					This is not the RSVP!
				</p>
		
				<form method="post" action="/poll">
					<label for="poll-florida">
						<input type="radio" id="poll-florida" name="poll" value="florida" />
						&nbsp;
						We think we can make it to Florida.
					</label>
					<label for="poll-iowa">
						<input type="radio" id="poll-iowa" name="poll" value="iowa" />
						&nbsp;
						We'll see you in Iowa instead!
					</label>
					<label for="poll-notgoing">
						<input type="radio" id="poll-notgoing" name="poll" value="notgoing" />
						&nbsp;
						We can't make it at all.
					</label>
				
					<button type="submit" class="button small round">Submit Poll</button>
				</form>
			{{/if}}
	
		</div>
	</div>
</div>

<div id="home-about">
	<div class="row">
		<div class="large-4 columns">
			<img src="/images/home-portrait.jpg" alt="Photo of Lindsey and Shea" />
		</div>
		<div class="large-8 columns">

			<h3>About Lindsey &amp; Shea</h3>

			<p>
				We met by chance while attending Iowa State University and had our first
				date in 2004 on April Fools Day. Through thick and thin, we've been together
				ever since.
			</p>
			
			<p>
				After graduating we both moved to fabulous Des Moines, Iowa and have a great
				group of friends both in town and across the continent. Lindsey is
				currently working at Wells Fargo, but her main passion is ceramics. She
				has been volunteering at the Des Moines Art Center and setting up her
				home studio lately. Shea has been working as a software developer since
				graduating and just took a position at a local startup called Dwolla. We
				also have a big goofball of a dog named Indy.
			</p>
			
			<p>
				In 2012 we finally decided it was time to get married and Shea proposed
				on our anniversary at the campanile on Iowa State's central campus.
			<p>

		</div>
	</div>
</div>

{{#extend "scripts"}}

{{/extend}}