<div id="home-banner">
	<div class="row">
		<div class="large-12 columns">
			<h2>
				April 26th, 2014 * Bradenton Beach, FL
			</h2>
		</div>
	</div>
</div>

<div id="home-info-boxes" class="row">
	<div class="large-4 columns">
	
		<h3>Finally!</h3>
		
		<p>
			Yup, we're finally getting married after 8 years together. After thinking 
			about it for a quite a while, we decided on a beach wedding. We will be 
			getting married on April 26th, 2014 in Bradenton Beach, Florida.
		</p>
		
		<p>
			<a href="/florida">Click here for more about Florida...</a>
		</p>
		
	</div>
	<div class="large-4 columns">
	
		<h3>Can't Make It to the Beach?</h3>
		
		<p>
			Don't worry about it! We know a destination wedding is a lot to ask of 
			everyone. We're planning on having an informal reception back in Iowa for 
			anyone that couldn't make it.
		</p>
		
		<p>
			<a href="/iowa">Click here for more about Iowa...</a>
		</p>	
	
	</div>
	<div class="large-4 columns">
	
		<h3>Take the Poll</h3>
		
		<p>
			Please take a minute and help us get a handle on who will be able to come. 
			Formal invitations will be sent out later. This is not the RSVP!
		</p>
		
		<p>
			TODO
		</p>	
	
	</div>	
</div>

<div id="home-about">
	<div class="row">
		<div class="large-4 columns">

		</div>
		<div class="large-8 columns">

			<h3>A long time ago, at a university not so far away...</h3>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
			</p>

		</div>
	</div>
</div>

<div id="home-questions" class="row">
	<div class="large-12 columns">

		<h3>QUESTIONS? DROP US A LINE!</h3>
		
		<p>
			Email us, call us, use Facebook, or write us a letter. We'll answer your 
			question if we can.
		</p>

	</div>
</div>

{{#extend "scripts"}}

{{/extend}}