<div id="iowa-content">

	<div class="banner">
		<div class="row">
			<div class="large-12 columns">
				<h2>
					IOWA RECEPTION
				</h2>
			</div>
		</div>
	</div>

	<div class="date-row row">
		<div class="large-12 columns">
			<img src="images/beach-bouquet.jpg" alt="Lindsey and Shea on the Beach" />
			<h3>JUNE 21<sup>ST</sup> 2014 <i class="fa fa-circle"></i> DES MOINES, IA</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>We Got Married!</h3>
			<p>
				We know that a destination wedding is a lot to ask, so don't feel bad if
				you couldn't make it to the beach with us. You're invited to help us
				bring the party back to Des Moines!
			</p>
		</div>	
		<div class="large-6 columns">
			<h3>When &amp; Where</h3>
			<p>
				Please join us from 5pm to 8pm for food, music, and a keg. This will be
				a casual event.
			</p>
			<p>
				<strong>El Merenderos Event Center</strong><br/>
				900 E Army Post Road<br/>
				Des Moines, IA
			</p>
			<p>
				<a href="https://goo.gl/maps/8hL1c">Get Directions</a>
			</p>
		</div>
	</div>
	
	<br/>
	<br/>
	
</div>

{{#extend "scripts"}}

{{/extend}}