<div id="iowa-content">

	<div class="banner">
		<div class="row">
			<div class="large-12 columns">
				<h2>
					IOWA RECEPTION
				</h2>
			</div>
		</div>
	</div>

	<div class="date-row row">
		<div class="large-12 columns">
			<h3>JUNE 2014 <i class="fa fa-circle"></i> DES MOINES, IA</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>Can't Make It to Florida?</h3>
			<p>
				We know that a destination wedding is a lot to ask, so don't feel bad if
				you can't make it to the beach with us. We'll be bringing the party back
				to Iowa in June!
			</p>
			<p>
				This will be a casual reception/party and everyone is invited.
			</p>
		</div>	
		<div class="large-6 columns">
			<h3>Where &amp; When</h3>
			<p>
				The reception will be in the Des Moines area on a weekend in June, but
				the exact date and time is to be determined. We'll mail out another
				card once we find a venue and set a date.
			</p>		
		</div>
	</div>
	
	<br/>
	<br/>
	
</div>

{{#extend "scripts"}}

{{/extend}}