<div id="iowa-content">

	<div class="banner">
		<div class="row">
			<div class="large-12 columns">
				<h2>
					IOWA RECEPTION
				</h2>
			</div>
		</div>
	</div>

	<div class="date-row row">
		<div class="large-12 columns">
			<h3>JUNE 2014 <i class="fa fa-circle"></i> DES MOINES, IA</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<h3>Where</h3>
			<p>
				Location to be determined. We will let everyone know as soon as we decide 
				where we'll be getting together.
			</p>
		</div>	
		<div class="large-6 columns">
			<h3>When</h3>
			<p>
				We are shooting for sometime in June. We will let everyone know as soon as we 
				decide on a date and time.
			</p>		
		</div>
	</div>


	<div class="row">
		<div class="large-11 columns">
			<h3>Why</h3>
			<p>
				We know that a destination wedding is a lot to ask of everyone. So don't feel
				bad if you can't make it to the beach with us. We'll be bringing part of the
				beach party home with us to share with everyone!
			</p>
			<p>
				Everyone, whether they could make it to our wedding or not, will be invited to
				our informal reception back in Iowa.
			</p>
		</div>	
	</div>
	
	<br/>
	<br/>
	
</div>

{{#extend "scripts"}}

{{/extend}}