<div id="registry-banner" class="banner">
	<div class="row">
		<div class="large-12 columns">
			<h2>
				GIFT REGISTRY
			</h2>
		</div>
	</div>
</div>

<br/>
<br/>

<div class="row">
	<div class="large-6 columns">
		<h3>
			<a href="https://www.smartypig.com/loves/lindseyandshea">SmartyPig</a>
		</h3>		
	</div>
	<div class="large-6 columns">
		<h3>Others Coming Soon!</h3>
	</div>	
</div>

<br/>
<br/>

{{#extend "scripts"}}

{{/extend}}