<div id="registry-banner" class="banner">
	<div class="row">
		<div class="large-12 columns">
			<h2>
				GIFT REGISTRY
			</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		<h3>
			SmartyPig
		</h3>
		<p>
			<a href="https://www.smartypig.com">SmartyPig</a> is
			a free online piggy bank for people who are saving for specific goals. If you
			feel like giving us a gift but don't want to lug anything around, consider
			helping us with our new house goal:
		</p>
		<p>
			<a href="https://www.smartypig.com/loves/lindseyandshea">Lindsey &amp; Shea's Goals</a>
		</p>
	</div>
	<div class="large-6 columns">
		<h3>Traditional Registries</h3>
		<p>
			We will also be registered at Target and Bed, Bath &amp; Beyond.
		<p>
	</div>	
</div>

<br/>
<br/>

{{#extend "scripts"}}

{{/extend}}