<div id="rsvp-banner" class="banner">
	<div class="row">
		<div class="large-12 columns">
			<h2>
				RSVP
			</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">

		<h3>It looks like you've already started!</h3>
		
		<p>
			We just sent you an email with a link in it that will let you log back into
			your RSVP. Just check your email, click the link, and you'll be back on your
			way.
		</p>
		
		<p>
			If you have any trouble, please let Shea know.
		</p>
		
		<h3>Why?</h3>
		
		<p>
			We doing it this way in order to make sure the information that you've given
			us stays secure and that no one else can change it.
		</p>

	</div>
</div>

{{#extend "scripts"}}

{{/extend}}