<div id="rsvp-banner" class="banner">
	<div class="row">
		<div class="large-12 columns">
			<h2>
				RSVP
			</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">

		<br/>
		<br/>
		<div data-alert class="alert-box radius">
			RSVP will be coming soon!
		</div>
		<br/>
		<br/>

	</div>
</div>

{{#extend "scripts"}}

{{/extend}}