<div id="rsvp-banner" class="banner">
	<div class="row">
		<div class="large-12 columns">
			<h2>
				RSVP
			</h2>
		</div>
	</div>
</div>

<div class="date-row row">
	<div class="large-12 columns">
		<h3>please RSVP by march 1<sup>st</sup>, 2014</h3>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">

		<form action="/rsvp" method="post">
		
			<h3>Enter your email address to get started</h3>
		
			{{#if message}}
				<div data-alert class="alert-box alert radius">
			  
				  {{message}}
			  
				  <a href="#" class="close">&times;</a>
				</div>
			{{/if}}	
		
			<div>
				<input id="emailAddress" type="text" name="emailAddress" value="{{emailAddress}}"/>
			</div>
			<div class="row">
				<div class="large-3 columns">
					<button type="submit" class="button round">Start Your RSVP</button>
				</div>
				<div id="rsvp-email-hint" class="large-9 columns">
					We're asking for your email address so you can change your RSVP later, if you need to.
				</div>
			</div>		
	
		</form>

	</div>
</div>

{{#extend "scripts"}}

{{/extend}}