#home-banner {
	background-color: @orange;
	color: white;
	
	h2 {
		color: white;
	}
}

#home-info-boxes {

	.columns {
		text-align: center;
	}
}

#home-about {
	background-color: @sand;
	color: @sandWriting;
	
	h3 {
		color: darken(@sandWriting, 3%);
	}
}

#home-questions {
	text-align: center;
	
	h3 {
		font-family: @hefty;
		font-size: 1.5em;
		color: @purple;
		margin-top: 2em;
	}
}