#home-banner {
	background-color: @orange;
	color: white;
	
	h2 {
		color: white;
	}
	
	.fa-circle {
		vertical-align: middle;
	}
}

#home-info-boxes {
	padding: 1.5em 0 1.5em 0;

	.columns {
		text-align: center;
	}
	
	.fa-stack-2x {
		color: @purple;
	}
}

#home-about {
	background-color: @sand;
	color: @sandWriting;
	
	h3 {
		color: darken(@sandWriting, 3%);
	}
}

#home-questions {
	text-align: center;
	
	h3 {
		font-family: @hefty;
		color: @purple;
		margin-top: 2em;
	}
}

@media only screen and (min-width: 992px) {
	#home-banner {
		h2 {
			font-size: 1.2em;
		}
		.fa-circle {
			font-size: .7em;
		}
	}
	#home-questions {
		h3 {
			font-size: 1.5em;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {	
	#home-banner {
		h2 {
			font-size: .9em;
		}
		.fa-circle {
			font-size: .3em;
		}		
	}
	#home-questions {
		h3 {
			font-size: 1.2em;
		}
	}
}

@media only screen and (max-width: 767px) {
	#home-banner {
	
		h2 {
			font-size: 1.2em;
		}
		
		.fa-circle {
			display: none;
		}
	}
	#home-questions {
		h3 {
			font-size: 1em;
		}
	}	
}