#rsvp-choice {
	margin: 30px 0 30px 0;
}

#number-attending {
	color: @purple;
	font-family: @hefty;
	font-size: 1.2em;
	text-align: center;
	
	#number-attending-count {
		font-size: 1.6em;
	}
}

// hide the honeypot
#nameField {
	display: none;
}

#rsvpNote {
	height: 200px;
}

@media only screen and (min-width: 992px) {

	#emailAddress {
		font-size: 24px;
	}
	#rsvp-email-hint {
		text-align: right;
		color: @darkGray;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	#emailAddress {
		font-size: 24px;
	}
	#rsvp-email-hint {
		text-align: right;
		color: @darkGray;
	}	
}

@media only screen and (max-width: 767px) {

}